{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Welcome title goes in these h1 tags -->
                <h1 class="post-title">Welcome to RunTribe</h1>
                <!-- About RunTribe information goes here -->
                <p>Welcome to RunTribe - the ultimate online platform for runners of all fitness levels located within the town of
                Motherwell, Scotland. Our website brings together a passionate community of runners, providing them with the opportunity
                to connect, explore, and enhance their running experience.</p>                
                <p>At RunTribe, we believe that running should be a shared adventure, where like-minded individuals can motivate and
                inspire each other. Whether you're a beginner looking to take your first strides or a seasoned marathon runner, our
                platform offers various features designed to cater to your specific needs.</p>                
                <p>One of the highlights of RunTribe is our group run feature. We understand that running alone can sometimes be daunting
                or lack motivation. That's why we provide a simple and hassle-free booking system for runners to schedule a place in a
                group run. By joining a group, you'll not only have the opportunity to meet fellow runners in your area but also benefit
                from the support and camaraderie that comes with running together.</p>                
                <p>Our website also hosts an interactive blog area, where a diverse range of articles relating to running and its
                associated topics are posted regularly. From training tips and techniques to nutrition advice and gear reviews, our blog
                aims to provide valuable insights and information that can benefit runners at every stage of their journey. Moreover, we
                encourage our users to actively engage with the blog by leaving comments, sharing their experiences, and sparking
                meaningful discussions. It's the perfect space to strengthen connections within the RunTribe community and learn from
                others with similar interests.</p>                
                <p>To join the RunTribe community and unlock all the benefits it offers, simply sign up on our website. Once you're
                registered, you can book your spot on group runs and start connecting with fellow runners. Don't forget to participate
                in our blog area, share your thoughts, and contribute to the vibrant discussions taking place.</p>                
                <p>Whether you're seeking new challenges, training partners, or simply looking to immerse yourself in a supportive
                community of runners, RunTribe is here to help you achieve your goals. So lace up your shoes, because a world of running
                adventures awaits you at RunTribe!</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}