body {
    background-color: #EFEFF0;
    font-family: "Roboto Condensed";
}

.logo {
    font-family: "Bebas Neue";
    color: #FFB139;
    font-size: 5rem;
}

.navbar-color {
    background-color: #605E62;
}

.nav-link {
    font-family: "Bebas Neue";
    font-size: 2rem;
    color: #FFB139 !important;
    display: inline-block;
}

.dark-bg {
    background-color: #605E62;
}

.navbar-text {
    color: #EFEFF0 !important;
    font-size: 2rem;
}

.hero-image {
    height: 500px;
    width: 100%;
}

.footer {
    color: #FFB139;
    font-weight: bold;
}

.footer i {
    color: #FFB139;
}

.footer a {
    color: #FFB139;
    text-decoration: none;
}

.title-text {
    font-family: "Bebas Neue";
    font-weight: bold;
    text-decoration: underline;
}

.card {
    background-color: #605E6250;
    border: 3px solid #FFB139;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-link:hover {
    color: #FFB139;
}

.page-link {
    text-decoration: none;
    color: #605E62;
    background-color: #FFB139;
}

.link {
    font-family: "Bebas Neue";
    color: #f39304;
    font-weight: bold;
    text-decoration: underline;
}

.link:hover {
    font-size: larger;
    color: #FFB139;
}

.btn-signup,
.btn-edit,
.btn-book {
    background-color: #FFB139;
    color: #605E62;
    font-weight: bold;
}

.btn-delete {
    background-color: red;
    color: #EFEFF0;
    font-weight: bold;
}

.btn-signup:hover,
.btn-edit:hover,
.btn-book:hover {
    text-decoration: none;
    background-color: #605E62;
    color: #FFB139;
}

.approval {
    color: #605E62;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #f39304;
}

.approval_icon {
    color: #f39304
}

.pending {
    color: #605E62;
    font-weight: bold;
}

@media screen and (max-width: 800px) {

    .hero-image {
        height: 250px;
       }
    }