{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <h2>Join the Tribe</h2>

        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
              <h3>Amend runners contact details:</h3>
              <p>Runner: {{ user.username }}</p>
              <form method="post" style="margin-top: 1.3em">
                {{ form | crispy }} 
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">
                  Update
                </button>
              </form>
    </div>
</div>


{% endblock %}