{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container text-center">
  <div class="row">
    <h2>Make a change to your booking contact details below <i class="fas fa-arrow-down"></i></h2>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 card mb-4 mt-3 mx-auto">
      <div class="card-body">
        <h3>Amend runners contact details:</h3>
        <p>Runner: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em">
          {{ form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}