{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- 500.html content starts here -->
<div class="container-fluid">
    <div class="row text-center">
        <!-- header -->
        <h2>Wow looks like you've ran off track</h2>
        <h3>Error 500:</h3>

        <div class="container">
            <div class="col-12 mt-3">
                <div class="row card-deck">
                    <p>Lets get you back to where you want to be.</p>
                    <p>Use this link to get back to the tribe - <a class="link" href="{{ home_url }}">Back to the Start</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 500.html content ends here -->
{% endblock %}